/**
*** global
**/

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  font-size: 62.5%;
  --hue: 3;
  --primary-color: hsla(var(--hue), 77%, 55%, 1);
  --headline: hsla(210, 11%, 15%, 1);
  --paragraph: hsla(210, 9%, 31%, 1);
  --brand-beige: hsla(39, 100%, 97%, 1);
  --brand-light: hsla(calc(var(--hue) - 22), 23%, 89%, 1);
  --brand-light-2: hsla(calc(var(--hue) + 10), 23%, 89%, 1);
  --brand-dark: hsla(170, 100%, 14%, 1);
  --bg-light: hsla(180, 14%, 97%, 1);
  --nav-height: 7.2rem;
}

ul {
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  text-align: center;
  overflow: overlay;
  background-color: #fff;
}

#home {
  width: 100%;
}
#home .stripe-top {
  width: 100%;
  height: 30vh;
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
}

#home .stripe-brand {
  background-color: #000;
  padding: 5rem 4rem 5rem 0;
  margin: 0;
  border-top: 3px solid #fff;
  border-bottom: 5px solid #32d951;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#home .stripe-brand .logo {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 40%;
}
#home .stripe-brand .logo img {
  width: 60%;
}
#home .stripe-brand .message {
  display: inline-block;
  width: 60%;
  text-align: left;
}
#home .stripe-brand h3 {
  color: #8b8b8b;
  text-align: left;
  text-transform: uppercase;
  line-height: 22pt;
}

.color-primary {
  color: var(--primary-color);
}
.color-white {
  color: #fff;
}

#home .stripe-footer {
  padding: 4rem 0 0 0;
  margin: 0;
  display: flex;
  justify-content: left;
  align-items: top;
  margin-right: 4rem;
}
#home .stripe-footer .contatos {
  padding: 0;
  margin: 0;
  margin-left: 35%;
}
#home .stripe-footer .whatsapp {
  padding: 0;
  margin: 0;
  margin-left: 10%;
}
#home .stripe-footer .contato {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: left;
  align-items: center;

  text-decoration: none;
  margin-bottom: 1.6rem;
}
#home .stripe-footer a span {
  display: inline-block;
  margin-left: 0.8rem;
  color: #000;
  font-weight: 500;
}

#home .stripe-footer a h3 {
  display: inline-block;
  margin-left: 0.8rem;
  color: #9d9d9d;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 16pt;
}
#home .stripe-footer .contatos img {
  width: 4rem;
  height: 4rem;
}
#home .stripe-footer .whatsapp img {
  width: 6rem;
  height: 6rem;
}
#home .stripe-footer a:hover span {
  text-decoration: underline;
}
#home .stripe-footer a:hover h3 {
  color: #666;
}

/** responsivo *** **/
@media (max-width: 768px) {
  /** geral *** **/
  body {
    overflow: auto;
  }

  #home .stripe-brand {
    padding: 5rem 0 5rem 5rem;
    margin: 0;
    flex-direction: column;
    justify-content: left;
    align-items: start;
  }
  #home .stripe-brand .logo {
    margin-left: 0rem;
    text-align: left;
    margin-bottom: 2rem;
    width: 100%;
  }
  #home .stripe-brand .logo img {
    width: 60%;
  }
  #home .stripe-brand .message {
    margin-left: 0rem;
    width: 100%;
  }

  #home .stripe-footer {
    padding: 4rem 0 0 0;
    margin: 0;
    display: flex;
    justify-content: left;
    align-items: top;
    flex-direction: column;
    margin-right: 4rem;
  }
  #home .stripe-footer .contatos {
    margin-left: 5rem;
  }
}

/** responsivo *** **/
@media (max-width: 768px) {
  #home .stripe-top {
    height: 15vh;
  }
  #home .stripe-brand {
    padding: 5rem;
  }
  #home .stripe-brand h3 {
    font-size: 1.6rem;
    line-height: 16pt;
  }
  #home .stripe-footer .contatos img {
    width: 3rem;
    height: 3rem;
  }
  #home .stripe-footer .whatsapp {
    margin-top: 2rem;
    margin-left: 5rem;
  }
  #home .stripe-footer .whatsapp img {
    width: 5rem;
    height: 5rem;
  }
}
